@charset "utf-8";

body, html{
    height: 100%;
}
.grid_layout{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "n c c c c"
}
.header{
    position: fixed;
    bottom: 3rem;
    top: auto;
    left: 3rem;
}
.side_menu{
    grid-area: n;
    padding: 5rem 0 0 0rem;
}
.pagination{
    margin-top: 3rem !important;
}
.min-height{
    min-height: 65vh;
    align-items: flex-start !important;
}
.main_container{
    grid-area: c;
    overflow-y: auto;
}
.is-hoverable td{
    cursor: pointer;
}
form{
    padding: 1rem 0 5rem;
}
.divider{
    margin: 3rem 0;
    height: 1px;
    background: #f3f3f3;
    width: 100%;
}
.field-body{
    flex-grow: 1 !important;
    flex-basis: 30%  !important;
}
.field-label {
    align-self: center;
}
.image img{
    object-fit: cover;
}

$primary:#464eb9;
$menu-item-color: $primary;
$menu-item-active-background-color:#222;
$menu-item-active-color: white;
$menu-item-hover-background-color: #111;
$menu-item-radius: 0;
$menu-item-color: white;
$menu-item-hover-color:white;


$section-padding: 2rem 3rem;

$table-cell-padding: 1rem;

$panel-shadow: 0 0 0;

@import "../../node_modules/bulma/bulma.sass";

.panel-block .delete{
    margin-left: auto;
}
.panel-block .control .buttons{
    padding-right: 10%;
    width: 100% !important;
}
.panel-block .control{
    width: auto !important;
}
.panel-block .control .buttons input[type="radio"] {
    margin: 0 4pt 0 0 ;
}
.panel-block.table-container{
    min-height: 550px;
    align-items: flex-start;
}
@media print {
    @page {
        size: Letter;
    }
    aside, header, nav, .level, .title, .progress, .title+.divider{
        display: none !important;
    }
    .grid_layout{
        overflow: visible;
        grid-template-areas:
        "c c c c c"
    }
    .main_container{
        overflow-y: visible;
    }
    .result{
        padding-top: 8px !important;
        width: auto;
        height: auto;
        overflow: visible;
        color: #333132;
    }
    .section{
        padding: 0rem 0.5rem 0rem 0.5rem !important;
    }
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    .divider{
        margin: 0rem 0 .5rem;
        height: 0px;
        background: #ffffff;
        width: 0;
        page-break-before: always;
    }
    .is-size-5 {
        font-size: 8pt !important;
    }
    .is-size-6 {
        font-size: 7pt !important;
    }
    .is-size-7 {
        font-size: 5pt !important;
    }
    .result .columns.is-multiline .is-label{
        background-color: #cdcfd0;
    }
    .result .columns.is-multiline .column .columns.is-multiline .column{
        border: 1px solid #cdcfd0;
    }
    .result .columns.is-multiline > .is-full {
        border: 1px solid #cdcfd0;
    }
}



.dropdown-trigger {
    & span{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    & .image.is-4by3 {
        box-sizing: border-box;
        border: solid 2px white;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease .2s;
        &:hover{
            box-shadow: 0px 0px  10px $info;
        }
        &.image-principal{
            outline: solid 4px $info;
        }
    }
}
.image.is-4by3{
    margin-bottom: 0.5rem;
}
.image.is-5by3 img{
    transform: rotate(90deg);
    object-fit: contain;
    height: 120%;
}
.result .columns.is-multiline .column .columns.is-multiline .column{
    box-sizing: border-box;
    padding: 0.2rem 0.25rem;
    margin-bottom: 2px;
    border: 1px solid #eeeeee;

}
.result .columns.is-multiline .is-label{
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    & p{
        width: 100%;
    }

}
.result .columns.is-multiline .is-field{
    display: flex;
    align-items: center;
    & p{
        width: 100%;
    }
}
.result .columns.is-multiline {
    padding: .25rem;
}
.result .columns.is-multiline > .is-full {
    padding: .25rem .25rem;
    border: 1px solid #eeeeee;
}
.result{
    margin-bottom: 3rem;
}
